<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sid's First Suite">
  <test thread-count="5" name="FirstSuiteRunner">
    <classes>
      <class name="co.testngpractice.SampleTestCases"/>
      <class name="co.testngpractice.Groupings"/>
      <class name="co.testngpractice.AddingPriorities"/>
      <class name="co.testngpractice.SkippingTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
